@import '/src/styles/font.module.css';

.container {
width: 229px;
height: 106px;
background-color: #F5F5F5;
border: 1px solid #757575;
border-radius: 15px;
padding: 10px;
}

.top {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #757575;

}

.middle {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
letter-spacing: 0.02em;
color: #222222;
}

.middle span {
    margin-left: 10px;
}

.buttom {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
color: #162E40;
}