@import '/src/styles/font.module.css';

.container {
    margin-top:150px;
    display: flex;
    flex-direction: column;
}

.title {
align-self: center;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 50px;
text-align: center;
letter-spacing: 0.02em;
color: #222222;
}

.cards {
    margin-top: 89px;
    display: flex;
    padding: 0px 152px;
    column-gap: 40px;
}