@import "/src/styles/font.module.css";

.container {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-self: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #222222;
}

.title span {
  color: #d19439;
}

.list-items {
  width: 1020px;
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    rgba(255, 255, 255, 0.89) 100%
  );
  border-radius: 20px;
  padding: 10px;
}

.list-item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.4);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.02em;
  width: 100%;
  color: #222222;
}

.answer {
    padding-right: 278px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #757575;
    height: 0px;
    overflow: hidden;
    animation: slide-close 0.3s linear;
}

.open{
    height: fit-content;
    animation: slide-open 0.3s linear;
}

.trigger{
    cursor: pointer;
}

@keyframes slide-open {
    from{
      height: 0px;
    }
    to{
      height: 48px;
    }
}

@keyframes slide-close {
    from{
      height: 48px;
    }
    to{
      height: 0px;
    }
}
